################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pos-desk/.vs
/generators/data
/pos-strapi/src/admin/vite.config.js
node
/pos-strapi/src/api/utils/routes/validator.js
/pos-strapi/src/api/utils/controllers/validator.js
/pos-strapi/types/generated/*
/pos-strapi/src/.vs
/data
/pos-strapi/package-lock.json
/pos-desk/package-lock.json
